@import "nullstyle.scss";
@import "filters.scss";
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@keyframes openerY {
  0% {
    transform: translateY(-50%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(100%);
  }
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.main {
  flex: 1 1 auto;
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  padding-top: 100px;
}
.header {
  min-height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0px 1px 5px rgb(90, 1, 255);
  display: flex;
  align-items: center;
  z-index: 5;
}
.header-bg {
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-family: "Marck Script";
  font-size: 50px;
  color: white;
  font-weight: 700;
  user-select: none;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__mobile {
  width: 25px;
  height: 25px;
  position: relative;
  border: none;
  background: none;
  display: none;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8476aa;
    transition: 0.4s;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8476aa;
    transition: 0.4s;
  }
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8476aa;
  }
}
.header__lang {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.header__lang-checkbox {
  display: none;
}
.header__lang-toggler {
  display: inline-block;
  width: 40px;
  height: 20px;
  border: 2px solid #b5b5b5;
  border-radius: 15px;
  position: relative;
}
.header__lang-toggler::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #99efd0;
  transition: 0.5s;
}
.header__lang-checkbox:checked ~ .header__lang-toggler::after {
  left: 20px;
}
.header__lang-text {
  color: #b5b5b5;
  &:first-of-type {
    margin-right: 8px;
  }
  &:last-child {
    margin-left: 8px;
  }
}
@media (max-width: 530px) {
  .header__mobile {
    display: block;
    &.active-mobile {
      &::before {
        transform: rotate(45deg);
        top: 45%;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 45%;
      }
      span {
        display: none;
      }
    }
  }
  .header__nav-list {
    display: none;
    &.active-mobile {
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;
      background-color: #f2984ae7;
      animation: 0.5s openerY;
      a {
        color: white;
      }
    }
  }
  .header__lang-text {
    color: white;
  }
}
.header__nav-link {
  &:not(:last-child) {
    margin-right: 15px;
  }
  a {
    color: #b5b5b5;
    text-decoration: none;
    transition: 0.4s;
  }
  &:hover a {
    color: #f2994a;
  }
}
.photoeditor__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  color: #99efd0;
  margin-bottom: 10px;
}
.section__text {
  font-size: 16px;
  line-height: 22px;
  color: #8476aa;
  margin-bottom: 20px;
  text-align: center;
}
.photoeditor__tools {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.photomaker {
  min-width: 300px;
  max-width: 450px;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid #8476aa;
  padding: 10px;
  margin-right: 25px;
}
.photomaker__canvas {
  display: none;
}
.photomaker__preload {
  width: 100%;
  min-height: 300px;
  background-color: white;
  margin-bottom: 15px;
  position: relative;
  img {
    max-width: 100%;
  }
}
.photomaker__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 5px;
}
.photomaker__upload-input {
  display: none;
}
.btn {
  background: #f2994a;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  border-radius: 3px;
  padding: 8px;
  transition: 0.4s;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: #d66f14;
    box-shadow: 0 0 10px 0.5px #f2994a;
  }
}
@media (max-width: 350px) {
  .btn {
    padding: 3px;
  }
  .section__title {
    font-size: 38px;
  }
}
.photomaker__readyfilters,
.photomaker__userfilters,
.photomaker__additional-filters {
  border: 1px solid #8476aa;
  border-radius: 15px;
  position: relative;
  summary {
    font-size: 18px;
    list-style: none;
    cursor: pointer;
    padding: 0 20px;
    position: relative;
    font-weight: 700;
    background: #f2994a;
    border-radius: 15px;
    transition: 0.4s;
    &::before {
      content: url(../img/arrow-down.svg);
      position: absolute;
      left: 5px;
      transform: rotate(-90deg);
      transition: 200ms;
    }
  }
  &[open] summary {
    background: linear-gradient(to top right, #f2994a, rgb(182, 118, 0));
  }
  &[open] summary::before {
    transform: rotate(0deg);
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.readyfilters__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  gap: 5px;
  padding: 40px 10px 10px 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.readyfilter__btn {
  border: 2px solid #0000ff;
  border-radius: 20px;
  cursor: pointer;
  min-width: 100px;
  img {
    max-width: 100%;
    border-radius: 20px 20px 0 0;
    pointer-events: none;
  }
  figcaption {
    background-color: #0000ff;
    border-radius: 0 0 20px 20px;
    color: white;
    text-align: center;
  }
}
.readyfilters__navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 22px;
  left: 10px;
  width: 95%;
  z-index: 1;
}
.readyfilters__navigation-left {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(../img/arrow-down.svg) no-repeat;
  background-position: 50% 50%;
  background-color: #f2994a;
  border: none;
  transform: rotate(90deg);
  transition: 0.4s;
  &:hover {
    background-color: #d66f14;
  }
  &:active {
    background-color: #f2994a;
  }
}
.readyfilters__navigation-right {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(../img/arrow-down.svg) no-repeat;
  background-position: 50% 50%;
  background-color: #f2994a;
  border: none;
  transform: rotate(-90deg);
  transition: 0.4s;
  &:hover {
    background-color: #d66f14;
  }
  &:active {
    background-color: #f2994a;
  }
}
.userfilters__inputs {
  display: flex;
  flex-direction: column;
  padding: 5px;
  label {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
  }
}
.disabled-link {
  pointer-events: none;
  text-decoration: line-through;
  cursor: not-allowed;
}
.photocomparer {
  flex: 0 1 320px;
  max-width: 100%;
  min-height: 320px;
  max-height: fit-content;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #8476aa;
  position: relative;
  align-self: center;
}
.photocomparer__separator {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background-color: #b5b5b5;
  z-index: 2;
  span {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    background-color: #ffffff;
    border: 2px solid #b5b5b5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    &:active {
      cursor: col-resize;
      background-color: #f2994a;
    }
  }
  &:active {
    cursor: col-resize;
    background-color: #f2994a;
  }
}
.photocomparer__origin-photo {
  position: relative;
  width: 100%;
  border-radius: 5px;
  img {
    max-width: 320px;
    border-radius: 5px;
  }
}

.photocomparer__modified-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  img {
    max-width: 320px;
    border-radius: 5px;
  }
}
.photoeditor__tocomparer {
  display: none;
  position: absolute;
  top: 0;
}
@media (max-width: 700px) {
  .photoeditor__tools {
    flex-wrap: wrap;
    padding-top: 40px;
  }
  .photomaker {
    margin: 0 0 15px 0;
  }
  .photoeditor__tocomparer {
    display: block;
  }
}
.paint__canvas {
  background-color: white;
}
.paint {
  padding: 25px 0;
}
.paint__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paint__body {
  border: 2px solid #b5b5b5;
  border-radius: 15px;
  overflow: hidden;
  max-width: 700px;
}
.paint__body__tools {
  display: flex;
  padding: 8px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  label {
    font-size: 16px;
    line-height: 22px;
    color: #8476aa;
    transition: 0.4s;
    &:hover {
      color: #f2994a;
    }
  }
}
.paint__color,
.paint__fill {
  /* display: none; */
  visibility: hidden;
  width: 0;
  margin-right: 10px;
}
.color-label {
  padding-right: 30px;
  background: url(../img/colorInput.png) no-repeat;
  background-size: 20px;
  background-position: 95% 10%;
}
.eraiser-label {
  margin-right: 10px;
}
.width-label {
  margin-right: 5px;
}
.paint__width {
  margin-right: 10px;
}

.footer {
  min-height: 40px;
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -1px 5px rgb(90, 1, 255);
}
.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8476aa;
}
.footer__social {
  display: flex;
}
.footer__social-item {
  width: 28px;
  height: 30px;
  display: block;
  margin-right: 10px;
}
.footer__instagram {
  background: url(../img/instagramicon.svg) no-repeat;
  background-size: contain;
}
.footer__github {
  background: url(../img/github.svg) no-repeat;
  background-size: contain;
}
.footer__linkedin {
  background: url(../img/linkedin.svg) no-repeat;
  background-size: contain;
}


.paint__clear {
  margin-right: 8px;
}
.photomaker__gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.additional-filters__content {
  padding: 15px;
}
.create-grdient, .create-text {
background: #4848e8;
  &:hover {
    background: #1492d6;
    box-shadow: 0 0 10px 0.5px #1492d6;
  }

  margin-bottom: 15px;
}
.deg-shadow {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  label {
    color: #bbbaba;
    align-self: center;
    margin-bottom: -5px;
  }
}
.deg-shadow__color-label {
  color: #bbbaba;
}
.deg-shadow__color-label {
  align-self: flex-start !important;
  line-height: 140%;
}
.hidden {
  display: none;
}
.photomaker__text-content {
  user-select: none;
}
.photomaker__text {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
